.inter-second {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-main {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Sheared style */
.primary-btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}

.main-bg-color {
    background-color: #F5F8FF;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}

.c-head {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.bannar {
    padding: 265px 265px 150px 265px;
    text-align: center;
}

header {
    background-image: url('Assets/Hero-bg.png');
}

.action {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

.action-img img{
    border-radius: 48px;
}
.actions-items {
    display: flex;
    justify-content: space-between;
    margin: 116px 160px;
    align-items: center;

}

.action-details {
    padding: 62px 100px 62px 0px;
}

.value-num {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.value-des {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.pro-heading {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.pro-main {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 141px 159px 137px  137px;
    padding: 50px 142px;
    text-align: center;
}
.values {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.get-title{
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    padding-left: px;
}

.get {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-right: 200px;
}
.ll {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

input[type="text"],input[type="email"]{
    height: 70px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 20px;
    border: none;  
}

textarea {
    height: 135px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 20px;
    border: none;
}
input[type="submit"] {
    width: 100%;
}