.inter-second {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-main {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Sheared style */
.primary-btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}
.primary-btn:hover {
  background-color: #4e93c0; 
  transform: scale(1.035); /* slightly grow the button */
}


.main-bg-color {
    background-color: #F5F8FF;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}

.c-head {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.bannar {
    padding: 265px 265px 150px 265px;
    text-align: center;
}

header {
    background-image: url('Assets/Hero-bg.png');
}

.action {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

.action-img img {
    border-radius: 48px;
}

.actions-items {
    display: flex;
    justify-content: space-between;
    margin: 116px 160px;
    align-items: center;

}

.action-details {
    padding: 62px 100px 62px 0px;
}

.value-num {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}

.value-des {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin-top: 0px;
}

.pro-heading {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.pro-main {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 141px 159px 137px 137px;
    padding: 50px 142px;
    text-align: center;
}

.values {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.get-title {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    max-width: 550px;

}

.get {
    display: flex;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: space-between;
}

.ll {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
    height: 70px;
    width: 490px;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 20px;
    border: none;
}

textarea {
    height: 135px;
    width: 490px;
    border-radius: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 20px;
    border: none;
}

input[type="submit"] {
    width: 530px;
    margin-top: 10px;
}

/* footer */

.footer-title {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 0px;
}

.foot-des ,.foot-down{
    color: rgba(137, 135, 161, 1);
}

.foot-down ul {
    list-style: none;
}
.foot-down ul a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
.mail-foot {
    text-align: center;
    padding: 104px 450px;
    background-color: white;
}

.foot-down ul {
    display: flex;
    justify-content: space-around;
}

.foot-down {
    margin: 0px;
    padding-right: 50px;
}

.bonus {
    margin: 137px 151px;

}

.b-head {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.poster {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.poster-de {
    padding: 24px;
    background-color: white;
    border-radius: 14px;
}

.profile {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-items: center;
}

.image img{
    border-radius: 50%;
    padding-top: 10px;
}

.poster-h {
    font-size: 24px;
    color: rgba(30, 30, 30, 1);
}

.poster-des {
    font-size: 16px;
    color: rgba(30, 30, 30, 1);
}

.poster-h {
    margin-bottom: 0px;
}

.name {
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 0px;
}

.date {
    font-size: 16px;
    color: rgba(179, 179, 179, 1);
    margin-top: 0px;
}